<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{recipe.pictureUrl}}" alt="{{recipe.name}}">
        <div class="card-body">
          <div>
            <strong>Price lvl</strong>
            <p>TODO</p>
          </div>
          <div>
            <strong>Cooking Time</strong>
            <p>TODO</p>
          </div>
          <div>
            <strong>Days Ago</strong>
            <p>TODO</p>
          </div>
          <div>
            <strong>By </strong>
            <p>TODO</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-success w-100">Like</button>
            <button class="btn btn-primary w-100">Add to Favorites</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="recipe-tabset">
          <tab heading="About {{recipe.name}}">
            <h4>Description</h4>
            <p>{{recipe.description}}</p>
            <h4>Tags</h4>
            <p>recipe.tags</p>
          </tab>
          <tab heading="Ingredients">
            <h4>Ingredients</h4>
            <p>{{recipe.ingredients}}</p>
          </tab>
          <tab heading="Instruction">
            <h4>Instruction</h4>
            <p>{{recipe.instruction}}</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>