<div class="container mt-5">
  <div>
    <h2> Hello {{authService.decodedToken?.unique_name | titlecase}}
    </h2>
    <h3>The choice is yours</h3>
    <ul class="list-group">
      <a class="list-group-item list-group-item-action" [routerLink]="['/recipes']">I want to see all the recipes !</a>
      <a class="list-group-item list-group-item-action" [routerLink]="['/users']">I want to see all cooks !</a>
      <a class="list-group-item list-group-item-action" [routerLink]="['/favorites']">I want my cookbook !</a>
      <a class="list-group-item list-group-item-action" [routerLink]="['/messages']">How about my messages </a>
    </ul>
  </div>

  <div *ngIf="!isLoggedIn()">
    <div *ngIf="!registerMode" style="text-align: center">
      <h1>Cookery</h1>
      <p class="lead">Awesome taste are waiting... All you need is to Sign Up</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" (click)="openRegisterMode()">Register</button>
        <button class="btn btn-info btn-lg">Learn more</button>
      </div>
    </div>

    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>
  </div>

</div>